.navigation-elements
{
    padding: 24px 56px 0px 24px;
}
a{
    background-color:black;
    float: left;
    width: 6em;
}
.button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.button:hover {
    background-color: #3e8e41;
}
#title-id
{
    font-size: 28px;
}
.create-quest
{
width: 10em;
    display: block;
    text-align: center;
}
.quests-display
{
 position:relative;
  min-height: 1px;
  padding-right: 450px;
  padding-left: 150px;
}


