.vote-span{
	width: 40px;
	float: left;
	margin: 1px 0;

}
.vote, .vote-score{
	clear: both;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	text-align: center;
	color: #333;
	font-size: 1.8em;
	font-weight: bold;

}
.vote-score{cursor: text;}
body{
	background-color: #ecf0f1; 
    
	
}
h1{
	color: black;
}
h2{
	color: gold;
}
h3
{
    font-size: 28px;
}
.user{
	font-weight: bold;
	font-family: Arial;
    background-color:#cb9355;
	font-variant: small-caps;
    font-size: 20px;
    color: black;
    height: 40px;
    padding: 20px 20px 0px 0px;
    padding-left: 20px;
    
}
.user a:hover{
	color: black;
	font-weight: normal;
	
}
.post-quest
{
    margin: 20px 20px 20px 0px;
    font-size: 22px;
    display: block;
    background-color: #b2b1b1;
     padding: 15px 10px ;
    width: 15%;;
    height: 20%;
    margin-left: 550px;
    align-content: center;
}
.table{
	display: table;
	border-collapse: collapse;
	width: 850px;
	height: 200px;
	background-color: #778899;
	border: 1px solid black;
	border-spacing: 0;
	border-radius: 5px;
	margin:20px; 
	padding: 30px;
	box-shadow: 10px 10px 5px #888888;
    color: black;
}
.table1{
   display: table;
	border-collapse: collapse;
	width: 850px;
	height: 200px;
	background-color: #778899;
	border: 1px solid black;
	border-spacing: 0;
	border-radius: 5px;
	margin:20px; 
	padding: 30px;
	box-shadow: 10px 10px 5px #888888;
    color: white; 
}
.create{
color: black;
font-weight: bold;
}
.create a:hover{
	color: black;
	font-size:110%;	
}
.heading{
display: table-row;
background-color: #b2b1b1;
width: auto;
font-weight: bold;
text-align: center;
color: white;
}
.rows:nth-child(odd){
	display: table-row;
    background-color: #fcd2a0; 
}
.rows:nth-child(even)
{
    display: table-row;
    background-color: #f8e9d8;
}
.cell{
display: table-cell;
border: none;
border-width: thin;
width: 150px;
height: 0px;
padding-left: 0px;
padding-right: 0px;
    padding-top: 10px;
text-align: center;
        width: 700px;
    height: 30px;
    color: black;
    
}
.cell1{
display: table-cell;
border: none;
border-width: thin;
width: 150px;
height: 0px;
padding-left: 0px;
padding-right: 0px;
text-align: center;
}
.cell2{
display: table-cell;
border: none;
border-width: thin;
width: 50pxs;
height: 0px;
padding-left: 0px;
padding-right: 0px;
text-align: center;
}
.cell3{
display: table-cell;
border: none;
border-width: thin;
width: 150px;
height: 0px;
padding-left: 0px;
padding-right: 0px;
text-align: center;
}
a
{
color: black;
}
.login{
	display: table;
	border-collapse: collapse;
	width: 30%;
	height: 30%;
    background-color: #0aa6a8;
	border: 1px solid green;
	border-spacing: 5px;
	border-radius: 5px;
	margin:auto; 
	padding: 50px;
	box-shadow: 10px 10px 5px #888888;
	font-weight: bold;
	display: flex;
    text-align: center;
}
.olduser{
display: table;
width: 300px;
height: 300px;
background-color: #0ac2c4;
text-align: center;
}
.newuser{
display: table;
width: 100px;
    background-color: #0aa6a8;
    text-align: center;
}
.git{
	display: table;
width: 400px;	
}
.viewcell{
display: table-cell;
border: solid;
border-width: thin;
width: 1500px;
padding-left: 5px;
padding-right: 5px;
text-align: left;
    background-color: #cb9355;
}
.like{
	color: green;
}
.likecell{
display: table-cell;
border: none;
border-width: thin;

padding-left: 550px;
padding-right: 0px;
text-align: center;
}
.admin{
	color:red;
	font-weight: bold;
}
.tableanswer{
	display: table;
	border-collapse: collapse;
	width: 100%;
	height: auto;
	background-color: #cb9355;
	border: 1px solid black;
	border-spacing: 0;
	border-radius: 5px;
	margin:0px; 
	padding: 0px;
	box-shadow: 10px 10px 5px #888888;
}
.vcell{
display: table-cell;
border: solid;
border-width: thin;
width: 1500px;
height: 0px;
padding-left: 0px;
padding-right: 0px;
text-align: left;
    background-color: #cb9355;
}
.tagcell{
display: table-cell;
border:none;
border-width: thin;
height: 15px;
width: auto;
padding-left: 5px;
padding-right: 5px;
text-align: center;
background-color: palegoldenrod;
font-family: Lucida Sans Unicode; 
font-size: 75%;
}
.liked-class{
    color: #1a08aa;
}

.tagcell a:link{
	color: darkblue;
}

.tagcell a:hover{
	font-Weight: Bold;
}

.cell a:hover{
	font-weight: bold;
	background-color: #a7845b;
}
#content{
	background-color: white;
	width: 150px;
}
.search{	
}

#content a:hover{
	color: green;
	font-weight: bold;
}
.back-page
{
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.usercell{
display: table-cell;
border: none;
border-width: thin;
width: 100px;
height: 0px;
padding-left: 0px;
padding-right: 0px;
text-align: center;
font-weight: bold;
}
.userrows{
	display: table-row;
}

.userrows a:hover{
	background-color: white;
	font-size: 110%;
}
.userrows a:link{
}


